In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
users = pd.read_csv("users.dat", sep="::", header=None)
print("users.shape {}".format(users.shape))

usersHeader = ["userID", "gender", "age", "occupation", "zipCode"]
users.columns = usersHeader
print(users.head(10))

users.shape (6040, 5)
   userID gender  age  occupation zipCode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455
5       6      F   50           9   55117
6       7      M   35           1   06810
7       8      M   25          12   11413
8       9      M   25          17   61614
9      10      F   35           1   95370

/home/nicola/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
print(users.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
userID        6040 non-null int64
gender        6040 non-null object
age           6040 non-null int64
occupation    6040 non-null int64
zipCode       6040 non-null object
dtypes: int64(3), object(2)
memory usage: 236.0+ KB
None

In [4]:
mod_age = {
    1 : 6+(18-6)/2,
    18: 18+(24-18)/2,
    25: 25+(34-25)/2,
    35: 35+(44-35)/2,
    45: 45+(49-45)/2,
    50: 50+(55-50)/2,
    56: 56+(80-56)/2
}

occu = {
    0:"other",
    1:"academic/educator",
    2:"artist",
    3:"clerical/admin",
    4:"college/grad student",
    5:"customer service",
    6:"doctor/health care",
    7:"executive/managerial",
    8:"farmer",
    9:"homemaker",
    10:"K-12 student",
    11:"lawyer",
    12:"programmer",
    13:"retired",
    14:"sales/marketing",
    15:"scientist",
    16:"self-employed",
    17:"technician/engineer",
    18:"tradesman/craftsman",
    19:"unemployed",
    20:"writer"
}

users["age"].replace(mod_age, inplace=True)
users["occupation"].replace(occu, inplace=True)

print(users.any().isnull())
print(users.head(10))

userID        False
gender        False
age           False
occupation    False
zipCode       False
dtype: bool
   userID gender   age            occupation zipCode
0       1      F  12.0          K-12 student   48067
1       2      M  68.0         self-employed   70072
2       3      M  29.5             scientist   55117
3       4      M  47.0  executive/managerial   02460
4       5      M  29.5                writer   55455
5       6      F  52.5             homemaker   55117
6       7      M  39.5     academic/educator   06810
7       8      M  29.5            programmer   11413
8       9      M  29.5   technician/engineer   61614
9      10      F  39.5     academic/educator   95370

Some users have two zipcodes, we take only the first one

In [5]:
modified = []

def clean_zipCode(value):
    t = value.split("-")
    if(len(t) > 1):
        global modified
        modified.append(t)
    return int(t[0])


users["zipCode"] = users["zipCode"].apply(clean_zipCode)

users.info()
print("modified {} elements".format(len(modified)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
userID        6040 non-null int64
gender        6040 non-null object
age           6040 non-null float64
occupation    6040 non-null object
zipCode       6040 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 236.0+ KB
modified 66 elements

In [6]:
zipp = pd.read_csv("zip.csv")
print(zipp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81831 entries, 0 to 81830
Data columns (total 20 columns):
RecordNumber           81831 non-null int64
Zipcode                81831 non-null int64
ZipCodeType            81831 non-null object
City                   81831 non-null object
State                  81831 non-null object
LocationType           81831 non-null object
Lat                    81178 non-null float64
Long                   81178 non-null float64
Xaxis                  81831 non-null float64
Yaxis                  81831 non-null float64
Zaxis                  81831 non-null float64
WorldRegion            334 non-null object
Country                81831 non-null object
LocationText           81180 non-null object
Location               81830 non-null object
Decommisioned          81831 non-null bool
TaxReturnsFiled        58447 non-null float64
EstimatedPopulation    58447 non-null float64
TotalWages             58354 non-null float64
Notes                  1844 non-null object
dtypes: bool(1), float64(8), int64(2), object(9)
memory usage: 11.9+ MB
None

/home/nicola/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
zipp = zipp[["Zipcode", "City", "State", "Lat", "Long", "Country"]]
zipp.columns = ["zipCode", "city", "state", "lat", "long", "country"]

In [8]:
print(zipp.shape)
print(zipp[['zipCode', 'city']].head(10))

(81831, 6)
   zipCode                 city
0      704          PARC PARQUE
1      704  PASEO COSTA DEL SUR
2      704        SECT LANAUSSE
3      704      URB EUGENE RICE
4      704         URB GONZALEZ
5      704       URB LA FABRICA
6      704    URB MONTE SORIA 2
7      704     VILLAS DEL COQUI
8      705             AIBONITO
9      705         BDA SAN LUIS

In [9]:
print(zipp["zipCode"].value_counts().head(5))

print(zipp[ zipp['zipCode'] == 926 ].head(5))

926    130
725     82
662     75
969     73
612     68
Name: zipCode, dtype: int64
      zipCode                    city state   lat   long country
2257      926                SAN JUAN    PR  18.4 -66.06      US
2258      926                   CUPEY    PR  18.4 -66.06      US
2259      926             RIO PIEDRAS    PR  18.4 -66.06      US
2260      926  ALTS DE BORINQUEN GDNS    PR  18.4 -66.06      US
2261      926        ALTS DEL REMANSO    PR  18.4 -66.06      US

In [10]:
zipp = zipp.drop_duplicates(subset="zipCode", keep="first")
print(zipp.shape)

(42522, 6)

In [11]:
full = pd.merge(users, zipp, how="inner", on="zipCode")

# df.drop('column_name', axis=1, inplace=True)
full.drop('zipCode', axis=1, inplace=True)

print(full.head(2))

print("\nlost {} users in the join".format( users.shape[0]-full.shape[0] ))

   userID gender   age    occupation       city state   lat   long country
0       1      F  12.0  K-12 student  ROYAL OAK    MI  42.5 -83.15      US
1     583      F  29.5         other  ROYAL OAK    MI  42.5 -83.15      US

lost 68 users in the join

In [12]:
print(full.isnull().sum())

userID        0
gender        0
age           0
occupation    0
city          0
state         0
lat           7
long          7
country       0
dtype: int64

In [13]:
full.sort_values("userID", ascending=True, inplace=True)
full.head(10)

,userID,gender,age,occupation,city,state,lat,long,country
0,1,F,12.0,K-12 student,ROYAL OAK,MI,42.50,-83.15,US
6,2,M,68.0,self-employed,MARRERO,LA,29.88,-90.11,US
7,3,M,29.5,scientist,SAINT PAUL,MN,44.94,-93.10,US
16,4,M,47.0,executive/managerial,NEWTONVILLE,MA,42.35,-71.20,US
19,5,M,29.5,writer,MINNEAPOLIS,MN,44.96,-93.26,US
8,6,F,52.5,homemaker,SAINT PAUL,MN,44.94,-93.10,US
35,7,M,39.5,academic/educator,DANBURY,CT,41.40,-73.47,US
38,8,M,29.5,programmer,SPRINGFIELD GARDENS,NY,40.66,-73.75,US
39,9,M,29.5,technician/engineer,PEORIA,IL,40.74,-89.60,US
41,10,F,39.5,academic/educator,SONORA,CA,37.98,-120.39,US

In [14]:
filename="users_zip.csv"

full.to_csv(path_or_buf=filename, sep=",", header=True, index=False)